{
  "env": {
      "browser": true,
      "node": true,
      "jasmine": true
    },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [ "react" ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-multiple-comp": 0,
    "no-return-assign": 0
  }
}
